*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(184,229,226);
}

.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

.container, .container-md, .container-sm, .container-lg, .container-xl, .container-xxl, .container-fluid{
    max-width: 100%;
    padding: 0;
}

.nav-item{
    margin-right: 10px;
}

.nav-link{
    color: black;
    font-weight: bold;
}

.nav-link.active{
    font-weight: bold;
    color: white;
    background-color: rgb(52, 184, 191)!important; 
}

.nav-link:hover, .btn:hover{
    background-color: rgb(52, 184, 191);
    color: white;
}

.btn{
    background-color: white;
    color: black;
    font-weight: bold;
}

.create{
    color: rgb(60, 152, 157);
    font-weight: bold;
}

.dot{
    color: rgb(184,229,226);
}

.btn-highlight {
    background-color: rgb(60, 152, 157); 
  }